@charset "UTF-8";

:root {
    font-size: 1rem;
    --heading-font: 'Quattrocento', serif;
    --body-font: 'Quicksand', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

  body {
    font-family: var(--body-font);
  }

  .email-autocomplete {
    color: #c2c2c2;
  }

  #guerlainSpecific, #sisleySpecific, #adpSpecific, #payotSpecific, #phytoSpecific {
    display: none;
  }

  #testersTable {
    font-size: 0.7rem;
  }

  @media only screen and (min-width: 32.5rem) {
    #testersTable { font-size: 1rem; }
  }
